<div class="sticky-sidebar">
  {% include header.html type="page" %}
  <div class="carousel-auto">
    <div>
      <img src="assets/img/lighthouse.png" alt="Image of a lighthouse." />
    </div>
    <div><img src="assets/img/ocean.png" alt="Image of a moon scene." /></div>
    <div><img src="assets/img/bedroom.png" alt="Image of a bedroom." /></div>
    <div>
      <img src="assets/img/mirrorball.png" alt="Image of a mirrorball." />
    </div>
    <div>
      <img
        src="assets/img/tbhc-yellow.png"
        alt="Image of the Tranquility Base Hotel & Casino."
      />
    </div>
  </div>
</div>
