<div class="sticky-sidebar">
  {% include header.html type="page" %}
  <div class="carousel-auto">
    <div>
      <img
        src="assets/img/cizgi.jpg"
        alt="Logo for our school magazine Çizgi."
      />
    </div>
    <div>
      <img src="assets/img/lighthouse.jpg" alt="Image of a lighthouse." />
    </div>
    <div><img src="assets/img/ocean.jpg" alt="Image of a moon scene." /></div>
    <div><img src="assets/img/bedroom.jpg" alt="Image of a bedroom." /></div>
    <div>
      <img src="assets/img/mirrorball.jpg" alt="Image of a mirrorball." />
    </div>
    <div>
      <img
        src="assets/img/tbhc-yellow.jpg"
        alt="Image of the Tranquility Base Hotel & Casino."
      />
    </div>
  </div>
</div>
