/* Hide navigation arrows for the carousel */
.carousel-auto .slick-prev,
.carousel-auto .slick-next {
  display: none !important;
}

.sticky-sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: -7.5%; /* Set to the distance from the top you want the sidebar to start sticking */
  overflow-y: auto; /* Optional: Add scroll to the sidebar if content is long */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery-item {
  width: 30%;
  display: flex; /* Make the gallery item a flex container */
  align-items: center; /* Center-align the flex items vertically */
  justify-content: center; /* Center-align the flex items horizontally */
  flex-direction: column; /* Stack flex items vertically */
}

.gallery img {
  width: auto; /* Adjust width to be auto to maintain aspect ratio */
  max-width: 100%; /* Ensure image does not exceed its container */
  height: auto;
  border-radius: 5px;
  object-fit: cover; /* This will cover the area of the container without stretching */
}
