/* Hide navigation arrows for the carousel */
.carousel-auto .slick-prev,
.carousel-auto .slick-next {
  display: none !important;
}

.sticky-sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: -7.5%; /* Set to the distance from the top you want the sidebar to start sticking */
  overflow-y: auto; /* Optional: Add scroll to the sidebar if content is long */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Align items from the start */
}
.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.gallery-item {
  width: 30%;
}
